html,
body {
  margin: 0;
}

section .box {
  height: 500px;
  background-color: tomato;
  color: white;
  box-sizing: border-box;
  padding: 30px 10px;
}

section .box:nth-child(2n) {
  background-color: teal;
}
